<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;
        }
        h1 {
            font-size: 20px;
            color: gray;
        }
    </style>
</head>
<body>
    <% v.forEach(x => {%>
        <h1><%= x.title %> (<%= x.year %>)</h1>
        <br>
        <img src='<%= x.poster %>'>
        <br>
        <hr>
    <% }) %>
</body>
</html>